body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('airplane-7766079_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#airport-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.airport-card {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.airport-card:hover {
    transform: translateY(-5px);
}

.airport-card h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.airport-card p {
    margin-top: 10px;
    color: #666;
}

.details-link {
    color: #007bff;
    text-decoration: none;
}

.details-link:hover {
    text-decoration: underline;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}